<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".widget.RecipesWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipes_widget_provider_info" />
        </receiver>

        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".widget.services.WidgetRecipeListService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:name=".widget.services.WidgetRecipeService" />
        <service android:name=".widget.services.WidgetIngredientsListService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>